<div id="imagenFondo">
    <app-header></app-header>
    <div class="sep">
    </div>
    <div class="container">
        <div class="titulo">
            <div class="col">
                <h1>Mensajería <img src="../../assets/img/Logo/normal resolucion/carhounderLogo.png" id="logo"></h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div  id="listado">
                <div class="chats">
                    <a>Talleres Eustaquio e hijos</a> <br>
                    <a>Megareparaciones</a> <br>
                    <a>Lo arreglamos S.A.</a> <br>
                </div>
            </div>
            <div class="col">
                <div >
                    <textarea class="form-control" id="mensajes" readonly="readonly" rows="8"></textarea>
                </div>
                <form >
                    <div class="mb-3">
                        <label for="mensaje" class="form-label">Mensaje</label>
                        <textarea class="form-control" id="mensaje"></textarea>
                      </div>
                      <div id="boton">
                        <button type="submit" class="btn boton1">Enviar</button>
                      </div>
                </form>
            </div>
        </div>
        
    </div>
    <div class="separacion">
    </div>
</div>
<app-footer></app-footer>