footer{
    background-color: #8D9CAC;
    color: #f1f1f2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-left: 20px;
}

#enlaces{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 500px;
    font-weight: bold;
}

img{
    width: 110px;
    height: 30px;
}

a{
    text-decoration: none;
    color: #f1f1f2;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

a:hover{
    color: #33415C;
}

@media screen and (max-width: 750px){

<<<<<<< HEAD
@media screen and (max-width: 750px){

=======
>>>>>>> 7ea8f9e240c0c6fda4e320ed2f3a63defda9bf58
    footer{

        font-size: xx-small;
    }

    img{
        width: 55px;
        height: 15px;
    }

<<<<<<< HEAD
}
=======
}
>>>>>>> 7ea8f9e240c0c6fda4e320ed2f3a63defda9bf58
