


  <div class="modal fade" id="citas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Pedir cita</h5>
        <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                  <label>Fecha</label>
                  <input type="date" class="form-control" id="fecha" [(ngModel)]="fechaFiltrada" [ngModelOptions]="{standalone: true}" #fecha>
                </div>
                
                <button type="button" class="btn btn-sm boton1 actualizar" on-click="actualizarHoras()">Actualizar horas</button>
                <br>
                <div class="form-group">
                    <label for="hora">Hora</label>
                    <select class="form-control" id="horaMod" #horaMod>
                        <option *ngFor="let hora of mostrarHoras">
                          {{hora}}
                        </option>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    Servicios
                    <div *ngFor="let servicio of servicios; let i = index">

                        <div *ngIf = "servicio.id_taller == taller.id_taller">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" on-click="anyadirServicio(servicio.descripcion, prueba.value)" value={{i}} id={{i}} #prueba>
                                <label class="form-check-label" for="aceite">
                                    {{servicio.descripcion}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="aceite">
                        <label class="form-check-label" for="aceite">
                            Cambio de aceite
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="correa">
                        <label class="form-check-label" for="correa">
                            Sustitución de correa distribución
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="embrague">
                        <label class="form-check-label" for="embrague">
                            Sustitución de embrague
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="frenos">
                        <label class="form-check-label" for="frenos">
                            Cambio de pastillas y discos de frenos
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="neumaticos">
                        <label class="form-check-label" for="neumaticos">
                            Sustitución de neumáticos
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="chapa">
                        <label class="form-check-label" for="chapa">
                            Chapa y pintura
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="completa">
                        <label class="form-check-label" for="completa">
                            Revisión Completa
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="diagnosis">
                        <label class="form-check-label" for="diagnosis">
                            Diagnosis del vehículo
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="electricos">
                        <label class="form-check-label" for="electricos">
                            Fallos eléctricos
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="motor">
                        <label class="form-check-label" for="motor">
                            Fallos de motor
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="amortiguadores">
                        <label class="form-check-label" for="amortiguadores">
                            Sustitución de amortiguadores
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="escape">
                        <label class="form-check-label" for="escape">
                            Sustitución de escape
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="turbo">
                        <label class="form-check-label" for="turbo">
                            Sustitución del turbo
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="itv">
                        <label class="form-check-label" for="itv">
                            Revisión pre-ITV
                        </label>
                    </div> -->

                  </div>

                <div class="modal-footer text-align-center">
                <button type="button" class="btn boton1"  on-click="pedirCita(fecha.value, horaMod.value)" data-dismiss="modal">Confirmar cita</button>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>





