<div class="fondo">
    <!-- <img src="assets/img/fotoFondos/sobnosfondo.png"> -->
    <!-- <div class="container">
        <div class="row">
            <div class="filas">
                <img src="assets/img/fotoFondos/icono.png">
                <h3>Daniel Mellado</h3>
                <img src="assets/img/fotoFondos/icono.png">
                <h3>Antonio Jesús</h3>
            </div>
        </div>
        <div class="columnas">
            <div class="filas">
                <img src="assets/img/fotoFondos/icono.png">
                <h3>Alejandro Bayón</h3>
                <img src="assets/img/fotoFondos/icono.png">
                <h3>Pedro Ángel Corcho</h3>
            </div>
        </div>        
    </div> -->

    <div class="bloque">
        <div class="columnas">
                <div class="info">
                    <img src="assets/img/fotoFondos/icono.png">
                </div>    
                <div class="dani">
                    <h3>Daniel Mellado</h3>
                    <p>
                        Cofundador<br>
                        Barcelona
                    </p>
                </div>
                <div class="antonio">
                    <img src="assets/img/fotoFondos/icono.png">
                </div>    
                <div class="antonio">
                    <h3>Antonio Jesus</h3>
                    <p>
                        Cofundador<br>
                        Badajoz
                    </p>
                </div>  
        </div>
        <div class="columnas">
                <div class="alex">
                    <img src="assets/img/fotoFondos/icono.png">
                </div>    
                <div class="alex">
                    <h3>Alejandro Bayon</h3>
                    <p>
                        Cofundador<br>
                        Madrid
                    </p>
                </div>
                <div class="pedro">
                    <img src="assets/img/fotoFondos/icono.png">
                </div>    
                <div class="pedro">
                    <h3>Pedro Ángel Corcho</h3>
                    <p>
                        Cofundador<br>
                        Mérida
                    </p>
                </div>  
        </div>        
    </div>
    
</div>
<app-footer></app-footer>


