<div class="fondo">
    <app-header></app-header>
    <!-- <div class="bloque">
        <div class="cuadro">
            <h2>Tu perfil</h2>
            <div class="info">
                <div class="info1">
                    <img src="assets/img/fotoFondos/usuario.png">
                    <span class="btn btn-sm btn-file">
                        Editar foto<input type="file" id="foto">
                    </span>
                    <br>
                    <br>
                    <button type="button" class="btnDel btn btn-danger btn-sm">Eliminar perfil</button>
                </div>
                <div class="info2">
                    <form>
                        <div class="form-group row">
                          <label class="col col-form-label">Nombre</label>
                          <div class="col-sm-9">
                            <input class="form-control" value="Alejandro">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col col-form-label">Apellidos</label>
                          <div class="col-sm-9">
                            <input class="form-control" value="Bayon Burgos">
                          </div>
                        </div>
                        <div class="form-group row">
                            <label class="col col-form-label">Email</label>
                            <div class="col-sm-9">
                              <input class="form-control" value="abayonburgos@gmail.com">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col col-form-label">Teléfono</label>
                            <div class="col-sm-9">
                              <input class="form-control" value="636215651">
                            </div>
                          </div>
                    </form>
                    <button type="button" class="btnEdit btn btn-sm">Modificar perfil</button>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="bloque">
        <div class="cuadro">
            <h2>Tu perfil</h2>
            <div class="info">
                <div class="info1">
                    <img src="assets/img/fotoFondos/usuario.png">
                    <span class="btn btn-sm btn-file">
                        Editar foto<input type="file" id="foto">
                    </span>
                    <br>
                    <br>
                    <button type="button" class="btnDel btn btn-danger btn-sm">Eliminar perfil</button>
                </div>
                <div class="info2">
                    <form>
                        <div class="form-group row">
                          <label class="col col-form-label">Taller</label>
                          <div class="col-sm-9">
                            <input class="form-control" value="Yonamotor">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col col-form-label">Dirección</label>
                          <div class="col-sm-9">
                            <input class="form-control" value="Calle Prueba de la Nueva, 12">
                          </div>
                        </div>
                        <div class="form-group row">
                            <label class="col col-form-label">NIF/CIF</label>
                            <div class="col-sm-9">
                              <input class="form-control" value="12345678V">
                            </div>
                          </div>
                        <div class="form-group row">
                            <label class="col col-form-label">Email</label>
                            <div class="col-sm-9">
                              <input class="form-control" value="yonamotor@gmail.com">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col col-form-label">Teléfono</label>
                            <div class="col-sm-9">
                              <input class="form-control" value="914567867">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col col-form-label">Ofertas</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="ofertas" value=""></textarea>
                            </div>
                        </div>
                          <div class="form-group row">
                            <label class="col col-form-label">Servicios</label>
                            <div class="col-sm-9">
                                <div class="check1 form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="aceite">
                                    <label class="form-check-label">
                                      Cambio de aceite
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="correa">
                                    <label class="form-check-label">
                                      Sustitución de correa de distribución
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="embrague">
                                    <label class="form-check-label">
                                      Sustitución de embrague
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="freno">
                                    <label class="form-check-label">
                                      Cambio de pastillas y discos de freno
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="neumaticos">
                                    <label class="form-check-label">
                                      Sustitución de neumáticos
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="pintura">
                                    <label class="form-check-label">
                                      Chapa y pintura
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="revision">
                                    <label class="form-check-label">
                                      Revisión completa
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="diagnosis">
                                    <label class="form-check-label">
                                      Diagnosis del vehículo
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="electrico">
                                    <label class="form-check-label">
                                      Fallos eléctricos
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="motor">
                                    <label class="form-check-label">
                                      Fallos de motor
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="amortiguadores">
                                    <label class="form-check-label">
                                      Sustitución de amortiguadores
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="escape">
                                    <label class="form-check-label">
                                      Sustitución de escape
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="turbo">
                                    <label class="form-check-label">
                                      Sustitución del turbo
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="itv">
                                    <label class="form-check-label">
                                      Revisión pre-ITV
                                    </label>
                                </div>                                
                            </div>
                          </div>
                    </form>
                    <button type="button" class="btnEdit btn btn-sm">Modificar perfil</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
