<div class="fondo">
    <app-header></app-header>
    <div class="container">
        <h1>Tu perfil</h1>
        <div class="d-flex justify-content-center row mt-4">
            <div class="col-10 col-md-10 border rounded caja">
                <div class="row mt-3">
                    <div class="col-md-3 imagenPerfil d-flex flex-column align-items-center mt-3">                        
                        <span class="btn btn-file">
                            <input type="file"><img src="assets/img/fotoFondos/usuario.png">
                        </span>
                        <br>
                        <button type="button" class="btnDel btn btn-danger btn-sm">Eliminar perfil</button>
                    </div>
                    <div class="col-md-9 mt-3">
                        <div class="d-flex flex-column align-items-flex-start">
                            <form>
                                <div class="form-group row">
                                    <label class="col col-form-label">Nombre</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" value="Yonamotor">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col col-form-label">Dirección</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" value="Calle Prueba de la Nueva, 12">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col col-form-label">Email</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" value="yonamotor@gmail.com">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col col-form-label">Teléfono</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" value="914567867">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col col-form-label">Mis talleres</label>
                                    <div class="col-sm-9 pt-2">
                                        <p>Taller 1</p>
                                        <p>Taller 1</p>
                                        <p>Taller 1</p>
                                        <p>Taller 1</p>
                                        <p>Taller 1</p>
                                        <p>Taller 1</p>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                        <div class="d-flex flex-column align-items-center">
                            <button type="submit" class="btnEdit btn btn-sm mb-3">Modificar perfil</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>