<div class="fondo">
    <app-header></app-header>
    <div class="container">
        <h1>Tu perfil</h1>
        <div class="d-flex justify-content-center row mt-4">
            <div class="col-10 col-md-10 border rounded caja">
                <div class="row mt-3">
                    <div class="col-md-3 imagenPerfil d-flex flex-column align-items-center mt-3">
                        <span class="btn btn-file">
                            <input #fotoPerfil type="file" on-change="editarFotoCliente(fotoPerfil.value)"><img #foto src="../../assets/img/fotoFondos/{{apiService.clienteLogin.foto}}">
                        </span>
                        <br>
                        <button type="button" class="btn btnEdit1 btn-sm" data-dismiss="modal" data-toggle="modal" data-target="#cambiarPassword">Modificar contraseña</button>
                        <button type="button" class="btnDel btn btn-danger btn-sm" data-toggle="modal"
                            data-target="#perfilUsuarioEliminar">Eliminar perfil</button>
                        <div class="modal fade" id="perfilUsuarioEliminar" tabindex="-1" role="dialog"
                            aria-labelledby="perfilUsuarioEliminar" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">¿Estás seguro?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btnEdit1" data-dismiss="modal">No</button>
                                        <button type="submit" class="btn btn-danger" data-dismiss="modal" on-click = "eliminarCliente()">Eliminar Perfil</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 mt-3">
                        <div class="d-flex flex-column align-items-flex-start">
                            <form>
                                <div class="form-group row">
                                    <label class="col col-form-label" >Nombre</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" value="{{apiService.clienteLogin.nombre}}" #nombre>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col col-form-label">Apellidos</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" value="{{apiService.clienteLogin.apellidos}}" #apellidos>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col col-form-label">Email</label>
                                    <div class="col-sm-9">
                                        <input class="form-control"  value="{{apiService.clienteLogin.email}}" readonly #email>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col col-form-label">Teléfono</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" value="{{apiService.clienteLogin.telefono}}" #telefono>
                                    </div>
                                </div>
                                <div class="form-group row" >
                                    <label id ="talleresMis" class="col col-form-label">Mis talleres</label>
                                    <div class="col-sm-9 pt-2">
                                        <div  *ngFor="let favorito of favoritos">
                                            <p>{{favorito.nombre}}<button class="btn btn-danger" id="eliminar" type="button" data-toggle="modal" data-target="#confirmarEliminar" on-click="eliminarFavorito(favorito.id_taller)"> <img src="../../assets/img/iconos/papelera.png" value="eliminar chat" id="papelera"> </button></p>

                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex flex-column align-items-center">
                                    <button type="submit" class="btnEdit btn btn-sm mb-3" on-click="editarCliente(email.value, nombre.value, apellidos.value, telefono.value)">Modificar perfil</button>
                                </div>
                            </form>
                              <!-- modal password -->
                            <div class="modal fade" id="cambiarPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Modificar contraseña</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                <label for="exampleInputPassword1">Contraseña Anterior</label>
                                                <input #passwordAnterior type="password" class="form-control" id="contInicio" placeholder="Introduzca su contraseña anterior" required>
                                                </div>
                                                <div class="form-group">
                                                <label for="exampleInputPassword1">Contraseña Nueva</label>
                                                <input #passwordNuevo type="password" class="form-control" id="contInicio" placeholder="Introduzca su contraseña nueva" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Repita contraseña nueva</label>
                                                    <input #passwordRepetir type="password" class="form-control" id="contInicio" placeholder="Repita su contraseña nueva" required>
                                                    </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn boton1" on-click="password_Anterior(passwordAnterior.value,passwordNuevo.value, passwordRepetir.value)" data-dismiss="modal" >Modificar</button>
                                                    <button type="submit" class="btn boton2" data-dismiss="modal" >Cancelar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>