.modales{
    color: black;
    font-family: 'Poppins', sans-serif;
    background-color: #F1F1F2;
    text-align: left;
}


.boton1{
    background-color: #0466c8;
    color: #F1F1F2;
}

.boton2{
    background-color: #8d9cac;
    color: #F1F1F2;
}

button{
    margin-right: 10px;
}

img{
    height: 50px;
}

img:hover{
    cursor: pointer;
}

h5:hover{
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }