<nav class="navbar">
    <div class="text-center p-3">
        <img src="../../assets/img/Logo/normal resolucion/carhounderLogo.png">
    </div>
    <div id="enlaces" class="text-center p-3">
        <div>
            <a routerLink="">Servicios</a>
        </div>
        <div>
            <a routerLink="">Cómo funciona</a>
        </div>
        <div>
            <a routerLink="">Regístrate</a>
        </div>
        <div>
            <a routerLink="">Iniciar sesión</a>
        </div>
        <!-- <div *ngIf="si ha iniciado sesion">
            <img src="iagen de perfil"><a routerLink="" >Perfirl</a>
        </div> -->
    </div>
</nav>