<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">    
<nav class="navbar">
    <div class="text-center p-3">
        <img src="../../assets/img/Logo/normal resolucion/carhounderLogo.png" id="logo1" routerLink="">
        <img src="../../assets/img/Logo/normal resolucion/carhounderLogoC.png" id="logo2" routerLink=""> 
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-default "
                data-toggle="dropdown" id="desp">
                <img src="../../assets/img/iconos/lista.png" id="desplegable"><span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu" id="menu">
            <li [hidden] = "isHidden"><a class="a" routerLink="">Mi Perfil</a></li>
            <li [hidden] = "isHidden"><a class="a" routerLink="">Mis Citas</a></li> 
            <li [hidden] = "isHidden"><a class="a" routerLink="/chat">Mis Mensajes</a></li>
            <li><a class="a" routerLink="/servicios" >Servicios</a></li>
            <li><a class="a" routerLink="/comoFunciona">Cómo funciona</a></li>
            <li [hidden] = "isHidden"><a class="a" on-click="mostrarEsconder()">Cerrar sesión</a></li>
            <li [hidden] = "noHidden"><a class="a" data-toggle="modal" data-target="#registro">Regístrate</a></li>
            <li ><a class="a" data-toggle="modal" data-target="#iniciarSesion" [hidden] = "noHidden" on-click="mostrarEsconder()">Iniciar sesión</a></li>
        </ul>
    </div>
    <div id="enlaces" class="text-center p-3">
        <div>
            <a class="a" routerLink="/servicios">Servicios</a>
        </div>
        <div>
            <a class="a" routerLink="/comoFunciona">Cómo funciona</a>
        </div>
        <div [hidden] = "noHidden">
            <a class="a" class="a" data-toggle="modal" data-target="#registro">Regístrate</a>
        </div>
        <div [hidden] = "noHidden">
            <a class="a" data-toggle="modal" data-target="#iniciarSesion" on-click="mostrarEsconder()">Iniciar sesión</a>
        </div>
        <!-- *ngIf="iniciarSesion == true" -->
        <div [hidden] = "isHidden">
            <img src="../../assets/img/iconos/fotoPerfil.jpg" id="fotoPerfil"
            data-toggle="dropdown" ><a routerLink=""
            data-toggle="dropdown" > Nombre </a>
            <ul class="dropdown-menu dropdown-menu-right" role="menu" id="menuPerfil">
                <li><a class="a" routerLink="">Mi Perfil</a></li>
                <li><a class="a" routerLink="">Mis Citas</a></li>
                <li><a class="a" routerLink="/chat">Mis Mensajes</a></li>
                <li><a class="a" on-click="mostrarEsconder()">Cerrar sesión</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="col">
<app-modales></app-modales>
</div>