#all{

    background-image: url("src/assets/img/fotoFondos/sobnosfondo.png");
    background-position: center;
    position:relative;
    height: 920px; 
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

form{

    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    color: #F1F1F2;
    font-weight: bold;
    padding: 30px;

}

#mensaje{

    height: 300px;
}

button{

    border-radius: 10px;
	display: block;
	position: relative;
	padding: 10px 0;
	margin: 25px auto;
    font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: white;
	width: 270px;
    background-color: #0466c8;

}
