#imagenFondo{

    background-image: url("src/assets/img/fotoFondos/sobnosfondo.png");
    background-position: center center;
    position:relative;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;


}


#all{
/* 
    background-image: url("src/assets/img/fotoFondos/sobnosfondo.png");
    background-position: center;
    position:relative; */
    height: 960px; 
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;

    

}

#formulario{

    display: flex;
    justify-content: center;

}

form{

    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    color: #F1F1F2;
    font-weight: bold;
    padding: 30px;
    align-items: center;
    width: 500px;

}
/* 
#mensaje{
    height: 300px;
} */



button{

    border-radius: 10px;
	display: block;
	position: relative;
	padding: 10px 0;
	margin: 25px auto;
    font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: white;
	width: 180px;
    background-color: #0466c8;

}

.separacion{

    height: 380px;

}

textarea{

    resize: none;

}

@media screen and (min-height: 1020px){

    #all{
        
        height: 1366px;
    }

    form{

        height: 1000px;
        width: 800px;
        

    }
}