<div id="imagenFondo">
    
    <app-header></app-header>
    
       
            

        <div id="parteAbajo">
        <div id="filtrosAll">
            <h3>Filtrar búsqueda</h3>
            <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Servicios
                      </button>
                    </h5>
                  </div>
              
                  <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="aceiteFilter">
                            <label class="form-check-label" for="aceiteFilter">
                                Cambio de aceite
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="correaFilter">
                            <label class="form-check-label" for="correaFilter">
                                Sustitución de correa distribución
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="embragueFilter">
                            <label class="form-check-label" for="embragueFilter">
                                Sustitución de embrague
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="frenosFilter">
                            <label class="form-check-label" for="frenosFilter">
                                Cambio de pastillas y discos de frenos
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="neumaticosFilter">
                            <label class="form-check-label" for="neumaticosFilter">
                                Sustitución de neumáticos
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="chapaFilter">
                            <label class="form-check-label" for="chapaFilter">
                                Chapa y pintura
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="completaFilter">
                            <label class="form-check-label" for="completaFilter">
                                Revisión Completa
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="diagnosisFilter">
                            <label class="form-check-label" for="diagnosisFilter">
                                Diagnosis del vehículo
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="electricosFilter">
                            <label class="form-check-label" for="electricosFilter">
                                Fallos eléctricos
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="motorFilter">
                            <label class="form-check-label" for="motorFilter">
                                Fallos de motor
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="amortiguadoresFilter">
                            <label class="form-check-label" for="amortiguadoresFilter">
                                Sustitución de amortiguadores
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="escapeFilter">
                            <label class="form-check-label" for="escapeFilter">
                                Sustitución de escape
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="turboFilter">
                            <label class="form-check-label" for="turboFilter">
                                Sustitución del turbo
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="itvFilter">
                            <label class="form-check-label" for="itvFilter">
                                Revisión pre-ITV
                            </label>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Valoración
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="unaEstrella">
                            <label class="form-check-label" for="unaEstrella">
                                +1 estrella
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="dosEstrella">
                            <label class="form-check-label" for="dosEstrella">
                                +2 estrellas
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="tresEstrella">
                            <label class="form-check-label" for="tresEstrella">
                                +3 estrellas
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="cuatroEstrella">
                            <label class="form-check-label" for="cuatroEstrella">
                                +4 estrellas
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="cincoEstrella">
                            <label class="form-check-label" for="cincoEstrella">
                                5 estrellas
                            </label>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Código postal
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <input type="text" class="form-control" id="codigoPostal">
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
            
            <div class="talleres">
               
                 <div  class="fichaTaller row p-2 bg-white border rounded mt-2">
                    <div id="imagenTaller" class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXtns3uxSl_j5Wzqk2aFH_FsmAXgzj-sAk4g&usqp=CAU"></div>
                    <div id="imagenTaller" class="col-md-6 mt-1">
                        <h4>Taller TotalMotor</h4>
                        <div>
                            <p class="caracteristicas">
                                Ciudad: Albacete. <br>
                                Dirección: Avenida de la Constitución 42.
                            </p>
                        </div>
                        <div class="servicios">
                            <h5>Servicios:</h5>
                            <p class="serviciosIconos" >
                                <img class="icono" src="/../../assets/img/iconos/clutch.png" alt=""> 
                                <img class="icono" src="/../../assets/img/iconos/frenos.png" alt=""> 
                                <img class="icono" src="/../../assets/img/iconos/tire.png" alt=""> 
                                <img class="icono" src="/../../assets/img/iconos/puerta-de-coche.png" alt=""> 
                                <img class="icono" src="/../../assets/img/iconos/car-repair.png" alt=""> 
                            </p>
                        </div>
                    </div>
                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                        <div id="valoraciones" > 
                            <div class="d-flex flex-row align-items-center">
                                <h4 class="mr-1">Valoración</h4><span class="strike-text"></span>
                            </div>
                            <div>
                                <input  type="text" class="numberValue" id="servicios" readonly value="5">
                            </div>
                            <div class="ec-stars-wrapper">
                                <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                                <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                                <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                                <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                                <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                            </div>
                        </div>
                        <!-- <h6 class="text-success">Free shipping</h6> -->
                        <div class="d-flex flex-column mt-2 ">
                            <button id="botonTaller" class="btn btn-primary btn-sm" type="button">Mas detalles</button>
                            <button id="botonTaller" class="btn btn-outline-primary btn-sm mt-2" type="button">Chat</button>
                        </div>
                    </div>
                </div>
                
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
            
        </div>

        
        <app-footer></app-footer>        
        
    </div>
    



