<div id="imagenFondo col-12">
    
    <app-header></app-header>
    
       
            

        <div id="parteAbajo">

            <div class="">
                <button class="btn-lg btn-primary col-5" data-toggle="collapse" data-target="#demo">
                  Filtrar por:
                </button>
                <div id="demo" class="card collapse hide">
                            <!-- <div class="form-group"> -->
                                <p id="filtroServicios" class="filtroSelecciones" >Servicios</p> 
                                <li class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="aceiteFilter">
                                    <label class="form-check-label" for="aceiteFilter">
                                        Cambio de aceite
                                    </label>
                                </li >
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="correaFilter">
                                    <label class="form-check-label" for="correaFilter">
                                        Sustitución de correa distribución
                                    </label>
                                </div >
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="embragueFilter">
                                    <label class="form-check-label" for="embragueFilter">
                                        Sustitución de embrague
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="frenosFilter">
                                    <label class="form-check-label" for="frenosFilter">
                                        Cambio de pastillas y discos de frenos
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="neumaticosFilter">
                                    <label class="form-check-label" for="neumaticosFilter">
                                        Sustitución de neumáticos
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="chapaFilter">
                                    <label class="form-check-label" for="chapaFilter">
                                        Chapa y pintura
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="completaFilter">
                                    <label class="form-check-label" for="completaFilter">
                                        Revisión Completa
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="diagnosisFilter">
                                    <label class="form-check-label" for="diagnosisFilter">
                                        Diagnosis del vehículo
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="electricosFilter">
                                    <label class="form-check-label" for="electricosFilter">
                                        Fallos eléctricos
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="motorFilter">
                                    <label class="form-check-label" for="motorFilter">
                                        Fallos de motor
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="amortiguadoresFilter">
                                    <label class="form-check-label" for="amortiguadoresFilter">
                                        Sustitución de amortiguadores
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="escapeFilter">
                                    <label class="form-check-label" for="escapeFilter">
                                        Sustitución de escape
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="turboFilter">
                                    <label class="form-check-label" for="turboFilter">
                                        Sustitución del turbo
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="itvFilter">
                                    <label class="form-check-label" for="itvFilter">
                                        Revisión pre-ITV
                                    </label>
                                </div>
                                <p class="filtroSelecciones" >Valoración</p> 
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="unaEstrella">
                                    <label class="form-check-label" for="unaEstrella">
                                        1 estrella
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="dosEstrella">
                                    <label class="form-check-label" for="dosEstrella">
                                        2 estrellas
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="tresEstrella">
                                    <label class="form-check-label" for="tresEstrella">
                                        3 estrellas
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="cuatroEstrella">
                                    <label class="form-check-label" for="cuatroEstrella">
                                        4 estrellas
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="cincoEstrella">
                                    <label class="form-check-label" for="cincoEstrella">
                                        5 estrellas
                                    </label>
                                </div>
                              <label for="asunto" class="form-label"><p class="filtroSelecciones" >Código postal</p></label>
                              <input type="text" class="form-control" id="codigoPostal">
                            <!-- </div> -->
                    </div>
              </div>


<!--               
                    <p>
                        <a  id="botonFiltros" class="btn" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            FILTROS
                        </a>


                    </p>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <div  class="row">
                                    <div class="col">
                                        <div class="form-group  ">
                                            <p id="filtroServicios" class="filtroSelecciones" >Servicios</p> 
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="aceiteFilter">
                                                <label class="form-check-label" for="aceiteFilter">
                                                    Cambio de aceite
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="correaFilter">
                                                <label class="form-check-label" for="correaFilter">
                                                    Sustitución de correa distribución
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="embragueFilter">
                                                <label class="form-check-label" for="embragueFilter">
                                                    Sustitución de embrague
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="frenosFilter">
                                                <label class="form-check-label" for="frenosFilter">
                                                    Cambio de pastillas y discos de frenos
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="neumaticosFilter">
                                                <label class="form-check-label" for="neumaticosFilter">
                                                    Sustitución de neumáticos
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="chapaFilter">
                                                <label class="form-check-label" for="chapaFilter">
                                                    Chapa y pintura
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="completaFilter">
                                                <label class="form-check-label" for="completaFilter">
                                                    Revisión Completa
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="diagnosisFilter">
                                                <label class="form-check-label" for="diagnosisFilter">
                                                    Diagnosis del vehículo
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="electricosFilter">
                                                <label class="form-check-label" for="electricosFilter">
                                                    Fallos eléctricos
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="motorFilter">
                                                <label class="form-check-label" for="motorFilter">
                                                    Fallos de motor
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="amortiguadoresFilter">
                                                <label class="form-check-label" for="amortiguadoresFilter">
                                                    Sustitución de amortiguadores
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="escapeFilter">
                                                <label class="form-check-label" for="escapeFilter">
                                                    Sustitución de escape
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="turboFilter">
                                                <label class="form-check-label" for="turboFilter">
                                                    Sustitución del turbo
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="itvFilter">
                                                <label class="form-check-label" for="itvFilter">
                                                    Revisión pre-ITV
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group mb-3 ">
                                            <p class="filtroSelecciones" >Valoracion</p> 
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="unaEstrella">
                                                <label class="form-check-label" for="unaEstrella">
                                                    1 estrella
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="dosEstrella">
                                                <label class="form-check-label" for="dosEstrella">
                                                    2 estrellas
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="tresEstrella">
                                                <label class="form-check-label" for="tresEstrella">
                                                    3 estrellas
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="cuatroEstrella">
                                                <label class="form-check-label" for="cuatroEstrella">
                                                    4 estrellas
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="cincoEstrella">
                                                <label class="form-check-label" for="cincoEstrella">
                                                    5 estrellas
                                                </label>
                                            </div>
                                          <div class="mb-3 ">
                                          <label for="asunto" class="form-label"><p class="filtroSelecciones" >Código postal</p></label>
                                          <input type="text" class="form-control" id="codigoPostal">
                                          </div>
                                        
                                        </div>
                                    </div>                         
                                </div>
                            </div>
                        </div> -->

                




            <div class="talleres col-12">
               
                 <div  class="fichaTaller row p-2 bg-white border rounded mt-2">
                    <div id="imagenTaller" class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXtns3uxSl_j5Wzqk2aFH_FsmAXgzj-sAk4g&usqp=CAU"></div>
                    <div id="imagenTaller" class="col-md-6 mt-1">
                        <h4>Taller TotalMotor</h4>
                        <div>
                            <p class="caracteristicas">
                                Ciudad: Albacete. <br>
                                Dirección: Avenida de la Constitución 42.
                            </p>
                        </div>
                        <div class="servicios">
                            <h5>Servicios:</h5>
                            <p class="serviciosIconos" >
                                <img class="icono" src="/../../assets/img/iconos/clutch.png" alt=""> 
                                <img class="icono" src="/../../assets/img/iconos/frenos.png" alt=""> 
                                <img class="icono" src="/../../assets/img/iconos/tire.png" alt=""> 
                                <img class="icono" src="/../../assets/img/iconos/puerta-de-coche.png" alt=""> 
                                <img class="icono" src="/../../assets/img/iconos/car-repair.png" alt=""> 
                            </p>
                        </div>
                    </div>
                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                        <div id="valoraciones" > 
                            <div class="d-flex flex-row align-items-center">
                                <h4 class="mr-1">Valoración</h4><span class="strike-text"></span>
                            </div>
                            <div>
                                <input  type="text" class="numberValue" id="servicios" readonly value="5">
                            </div>
                            <div class="ec-stars-wrapper">
                                <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                                <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                                <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                                <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                                <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                            </div>
                        </div>
                        <!-- <h6 class="text-success">Free shipping</h6> -->
                        <div class="d-flex flex-column mt-2 ">
                            <button id="botonTaller" class="btn btn-primary btn-sm" type="button">Mas detalles</button>
                            <button id="botonTaller" class="btn btn-outline-primary btn-sm mt-2" type="button">Chat</button>
                        </div>
                    </div>
                </div>
                
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
            
        </div>

        
        <app-footer></app-footer>        
        
    </div>
    



