



<div id="comoFunciona">

    <div class="separacion">
    </div>
    <div class="container contenido">
        <br>
        <div class="row">
            <h1>Servicios y reparaciones más comunes</h1>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <h5>
                    <img src="/../../assets/img/iconos/cambioAceite.png" alt=""> Cambio de aceite. <br><br>
                    <img src="/../../assets/img/iconos/correa.png" alt=""> Sustitución de correa de distribución. <br><br>
                    <img src="/../../assets/img/iconos/clutch.png" alt=""> Sustitucion de embrague. <br><br>
                    <img src="/../../assets/img/iconos/frenos.png" alt=""> Cambio de pastillas y discos de freno. <br><br>
                    <img src="/../../assets/img/iconos/tire.png" alt=""> Sustitución de neumáticos. <br><br>
                    <img src="/../../assets/img/iconos/puerta-de-coche.png" alt=""> Chapa y pintura. <br><br>
                    <img src="/../../assets/img/iconos/car-repair.png" alt=""> Revisión completa. 
                   
                </h5>
                <br>
            </div>
            <div class="col">
                <h5>
                    <img src="/../../assets/img/iconos/diagnostico.png" alt=""> Diagnosis del vehículo. <br><br>
                    <img src="/../../assets/img/iconos/danger.png" alt=""> Fallos eléctricos. <br><br>
                    <img src="/../../assets/img/iconos/coche.png" alt=""> Fallos de motor. <br><br>
                    <img src="/../../assets/img/iconos/amortiguador.png" alt=""> Sustitución de amortiguadores. <br><br>
                    <img src="/../../assets/img/iconos/tubo-de-escape.png" alt=""> Sustitución de escape. <br><br>
                    <img src="/../../assets/img/iconos/turbo.png" alt=""> Sustitución del turbo. <br><br>
                    <img src="/../../assets/img/iconos/itv.png" alt=""> Revisión pre-ITV
                </h5>
                <br>
            </div>
        </div>
    </div>
    <div class="separacion">
    </div>
</div>
<app-footer></app-footer>