/* .fondo{
    background-image: url("src/assets/img/fotoFondos/sobnosfondo.png");
    width: 1920px;
    height: 875px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
} */

.fondo{
    background-image: url("src/assets/img/fotoFondos/sobnosfondo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    font-family: 'Poppins', sans-serif;;
}

.bloque{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    /* padding-top: 100px; */
    width: 100%;
    border: 1px solid;
}

.columnas{
    display:flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: center; */
    /* margin: 75px; */
    /* border: 1px solid blue; */
    width: 70%;
}

.filas{
    display: flex;
    flex-direction: row;
    align-items:center;
    /* justify-content: center; */
    /* border: 1px solid red; */
    width: 100%;
}

.filas2{
    display: flex;
    flex-direction: row;
    align-items:center;
    /* border: 1px solid red; */
    width: 70%;
}

.espacio{
    height: 200px;
}

img{
    margin-right: 30px;
    width: 200px;
}

/* .columnas img{
    width: 175px;
    color: white;
} */

/* .each{
    margin-left: 250px;
} */



.pedro{
    padding-left: 100px;
}



h3{
    font-weight: 600;
    color: white;
}

p{
    font-weight: 400;
    font-size: 20px;
    color: white;
}

/* .filas2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} */

/* .filas2 img{
    margin-right: 20px;
} */

/* p{
    padding: 50px;
} */

.separacion{

    width: 10px;
    height: 300px;
}

@media screen and (max-width: 1030px){
    img{
        margin-right: 30px;
        width: 150px;
    }
}

@media screen and (max-width: 720px){
    img{
        margin-right: 30px;
        width: 120px;
    }

}

@media screen and (max-width: 650px){
    img{
        margin-right: 30px;
        width: 120px;
    }
}
