
<div class="fondo">
    <app-header></app-header>
    <div class="bloque">
    <div class="columnas">
        <div class="filas">
            <div class="each">
                <img src="assets/img/fotoFondos/usuario.png">
            </div>    
            <div class="">
                <h3>Daniel Mellado</h3>
                <p>
                    Cofundador<br>
                    Barcelona
                </p>
            </div>
        </div>
        <div class="filas2">
            <div class="each">
                <img src="assets/img/fotoFondos/usuario.png">
            </div>    
            <div class="">
                <h3>Antonio Jesús Cid</h3>
                <p>
                    Cofundador<br>
                    Badajoz
                </p>
            </div>  
        </div>
    </div>
    <div class="espacio">

    </div>
    <div class="columnas">
        <div class="filas">
            <div class="each">
                <img src="assets/img/fotoFondos/usuario.png">
            </div>    
            <div class="">
                <h3>Alejandro Bayón</h3>
                <p>
                    Cofundador<br>
                    Madrid
                </p>
            </div>  
        </div>
        <div class="filas2">
            <div class="each">
                <img src="assets/img/fotoFondos/usuario.png">
            </div>    
            <div class="">
                <h3>Pedro Ángel Corcho</h3>
                <p>
                    Cofundador<br>
                    Mérida
                </p>
            </div> 
        </div> 
    </div>        
</div>
</div>
<app-footer></app-footer>
