#comoFunciona{
    background-image: url("src/assets/img/fotoFondos/comofuncionafondo.png");
    position: relative;
    height: 100%; 
    width: 100%;
    background-position: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: #F1F1F2;
}

h1{
    color: #F1F1F2;
}

.contenido{
    background-color: #F1F1F2;
    margin: 50px;
    align-items: center;
    text-align: center;  
}

img{
    height: 50px;
}

.separacion{
    height: 80px;
}