<div id="comoFunciona">
    <div class="container">
        <h1> Cómo funciona </h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col contenido">
                <br>
                <h2>
                   <img src="../../assets/img/iconos/automobile-with-wrench.png">     Si eres taller...
                </h2>
                <br>
                <h5>
                    - Registra tu taller.  <br> <br>
                    - Ofrece tus servicios y ofertas. <br> <br>
                    - Otén tu agenda Carhounder. <br> <br>
                    - Organiza tus citas. <br> <br>
                    - Aumenta tus clientes.
                </h5>
                <br>
            </div>
            <div class="col contenido">
                <br>
                <h2>
                    <img src="../../assets/img/iconos/man-with-car.png">     Si buscas taller...
                </h2>
                <br>
                <h5>
                    - Regístrate como cliente. <br> <br>
                    - Filtra por tus preferencias. <br> <br>
                    - Pide cita o contacta con el taller. <br> <br>
                    - Repara tu vehículo. <br> <br>
                    - Deja tu valoración. <br> <br>
                </h5>
                <br>
            </div>
        </div>
    </div>
    <div class="separacion">
    </div>
</div>
<app-footer></app-footer>
