<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<div class="" id="imagenFondo">
    <app-header></app-header>
    <div id="primeraParte">
        <h3 class="fraseTop" >
            Encuentra tu taller más cercano
        </h3>
        <div id="busquedaCentral">
                <input  class="input" type="number" class="form-control"  placeholder="Código Postal" min="10000" max="99999">
                <button type="submit" class="btn-4" routerLink="/resultadoBusqueda"> <p>BUSCAR</p> </button>
        </div>
        <div class="descripcion " >
            <div class="descriptionBase" >
                <img  class="iconos1" src="assets/img/iconos/loupe.png" alt="">   
                <h1 class="">
                    Busca tu taller
                </h1>
            </div>
            <div class="descriptionBase" >
                <img class="iconos1" src="assets/img/iconos/llaveBien.png" alt="">
                <h1 class="">
                    Repara tu coche
                </h1>
            </div>
            <div class="descriptionBase todosEstrellas" >
                <div  class="estrellas">
                <img class="iconos2" src="assets/img/iconos/iconmonstr-star-3-240.png" alt="">
                <img class="iconos2" src="assets/img/iconos/iconmonstr-star-3-240.png" alt="">
                <img class="iconos2" src="assets/img/iconos/iconmonstr-star-3-240.png" alt="">
                <img class="iconos2" src="assets/img/iconos/iconmonstr-star-3-240.png" alt="">
                <img class="iconos2" src="assets/img/iconos/iconmonstr-star-4-240.png" alt="">
                </div>
                <h1 class="">
                    Valora tu reparación
                </h1>
            </div>   
        </div>
    </div>
    <div class="col-sm"></div>
    <div id="parteAbajo" >
        <h2 class="fraseAbajo" >
            Últimas Reseñas
        </h2>
<!-- NUEVO CARRUSEL -->


        <div id="resenias1" class="container">
            <div class="carousel slide" id="main-carousel" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card  " >
                            <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card  " >
                            <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card  " >
                            <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card  " >
                            <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                </div><!-- /.carousel-inner -->
                
                <a href="#main-carousel" class="carousel-control-prev" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                    <span class="sr-only" aria-hidden="true">Prev</span>
                </a>
                <a href="#main-carousel" class="carousel-control-next" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                    <span class="sr-only" aria-hidden="true">Next</span>
                </a>
            </div><!-- /.carousel -->
        </div><!-- /.container -->
    </div>
</div>
<app-footer></app-footer>