

#imagenFondo{

    background-image: url("src/assets/img/fotoFondos/busquedatallerfondo.png");
    background-position: center center;
    position:absolute;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    overflow: auto;


}


#all{


    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#all1{

        width: 100%; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 100px;
    
    
        
    
}

.icono {
    width: 40px;
    height: 40px;
    padding: 5px;

}


button{

    border-radius: 10px;
	display: block;
	position: relative;
	padding: 10px 0;
	margin: 25px auto;
    font-family: 'Poppins', sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: white;
	width: 150px;
    height: 40px;
    background-color: #0466c8;

}


#botonInfo{

    display: flex;
    flex-direction: row;

}

img{

    height: 300px;
    width: 1400px;
    position:relative;
    background-position: center center;

}

#frontal{

    margin-top: 110px;
    min-height: 700px;
    background-color: #F1F1F2;
    margin-bottom: 20px;

}

