



<div id="imagenFondo">

    <app-header></app-header>

    <div id="all">

      <div class="col container">
        <div class="card h-100">
          <img src="assets/img/fotoFondos/sobnosfondo.png" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <h5 class="card-title">Información</h5>
            <p class="card-text">
                Talleres FastCar, su taller de confianza al alcance de cualquiera.<br>
                C/Almogavers, N/30, Barcelona 08420</p>

            <h5 class="card-title">Servicios</h5>
            <p class="card-text"> 
                Cambio de aceite - 30€<br>
                Revisión completa - 20€
            
            <h5 class="card-title">Ofertas</h5>
            <p class="card-text"> 
                Cambio de aceite + Revisión pre-ITV - 50€<br>
                Cambio de aceite + Revisión Completa - 40€<br>
                Cambio de aceite + Revisión pre-ITV - 50€<br>
                Cambio de aceite + Revisión pre-ITV - 50€<br>
                Cambio de aceite + Revisión pre-ITV - 50€<br>
                Cambio de aceite + Revisión pre-ITV - 50€<br>
                Cambio de aceite + Revisión pre-ITV - 50€<br>
                Cambio de aceite + Revisión pre-ITV - 50€<br>
                Cambio de aceite + Revisión pre-ITV - 50€<br>
                Cambio de aceite + Revisión pre-ITV - 50€
          </div>

          <div id="botonInfo">


            <app-modal-citas></app-modal-citas>

            <button type="submit" class="btn btn-primary">Chat</button>

            <button class="btn btn-primary" data-toggle="modal" data-target="#iniciarSesion">Pedir Cita</button>


            </div>

        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
