.fondo{
    background-image: url("src/assets/img/fotoFondos/perfusuari.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    justify-content: center;
    height:100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    overflow: auto;
}

h1{
    text-align: center;
    color: #F1F1F2;
}

.container{
    padding-top: 140px;
    padding-bottom: 80px;
}


.caja{
    background-color: #F1F1F2;
}

form{
    text-align: start;
}

.form-check-input:hover{
    border-color: #0466C8;
    border-width: 2px;
}

.form-check-input{
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.form-check-label{
    margin-top: 4px;
}

#ofertas{
    height: 150px;
}

.col-form-label{
    font-weight: 500;
}

input{
    margin-bottom: 10px;
    background-color: #ffffff;
}

h2{
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: 700;
}

h3{
    padding-bottom: 15px;
}


.imagenPerfil img{
    width:120px;
}

.btnEdit{
    color:white;
    background-color: #0466C8;
    margin-top: 10px;
}

.btnEdit1{
    color:white;
    background-color: #0466C8;
    margin-bottom: 5px;
}


.check1{
    padding-top: 6px;
}

textarea{
    resize: none;
    height: 150px;
}

.boton1{
    background-color: #0466c8;
    color: #F1F1F2;
}

.boton2{
    background-color: #8d9cac;
    color: #F1F1F2;
}

.btnDel{
    margin-bottom: 10px;
}

.btn-file {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    background:none;
    color: #F1F1F2;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    min-width: 100%;
    min-height: 100%;
    font-size: 50px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.notify {
    /* defaults */
    --notify-error: #eb5757;
    --notify-success: #6fcf97;
    --notify-warning: #f2c94c;
    --notify-gray: #333333;
    --notify-gray-2: #4d4d4d;
    --notify-gray-3: #828282;
    --notify-white: #fff;
    --notify-white-2: rgba(255, 255, 255, 0.8);
    --notify-padding: 0.75rem;
    --notify-icon-size: 32px;
    --notify-close-icon-size: 16px;
  }

@media screen and (max-width: 992px){
    .imagenPerfil img{
        width:100px;
    }
}


@media screen and (max-width: 803px){
    
    .container{
        padding-top: 140px;
        padding-bottom: 130px;
    }
}

@media screen and (max-width: 411px){
    
    .info1 img{
        width:80px;
    }
}

@media screen and (max-width: 374px){
    
    .info1 img{
        width:75px;
    }
}

@media screen and (max-width: 313px){
    
    .info1 img{
        width:75px;
    }
}
