<div class="fondo">
    <app-header></app-header>

    <!-- Cita usuario -->

    <!-- <div class="container">
        <h1>Mis citas</h1>
        <div class="d-flex justify-content-center row mt-4">
            <div class="col-10 col-md-10 bg-white border rounded">
                <div class="row p-2">
                    <div class="col-md-10 mt-1 bordeTarjeta">
                        <p>Taller: <span>SalouMotor</span></p>
                        <p>Servicios: <span>Cambio de aceite&nbsp;&nbsp;&nbsp;/</span>
                            <span>Cambio de neumáticos&nbsp;&nbsp;&nbsp;/</span>
                            <span>Cambio de aceite&nbsp;&nbsp;&nbsp;/</span>
                        </p>
                        <p>Hora: <span>10:30</span></p>
                    </div>
                    <div class="align-self-center col-md-2">
                        <div class="d-flex flex-column align-items-center botones">
                            <button class="btn btn-danger btn-sm mt-3 p-2" type="button">Cancelar cita</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center row mt-4">
            <div class="col-10 col-md-10 bg-white border rounded">
                <div class="row p-2">
                    <div class="col-md-10 mt-1 bordeTarjeta">
                        <p>Taller: <span>SalouMotor</span></p>
                        <p>Servicios: <span>Cambio de aceite&nbsp;&nbsp;&nbsp;/</span>
                            <span>Cambio de neumáticos&nbsp;&nbsp;&nbsp;/</span>
                            <span>Cambio de aceite&nbsp;&nbsp;&nbsp;/</span>
                        </p>
                        <p>Hora: <span>10:30</span></p>
                    </div>
                    <div class="align-self-center col-md-2">
                        <div class="d-flex flex-column align-items-center botones">
                            <button class="btn btn-danger btn-sm mt-3 p-2" type="button">Cancelar cita</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center row mt-4">
            <div class="col-10 col-md-10 bg-white border rounded">
                <div class="row p-2">
                    <div class="col-md-10 mt-1 bordeTarjeta">
                        <p>Taller: <span>SalouMotor</span></p>
                        <p>Servicios: <span>Cambio de aceite&nbsp;&nbsp;&nbsp;/</span>
                            <span>Cambio de neumáticos&nbsp;&nbsp;&nbsp;/</span>
                            <span>Cambio de aceite&nbsp;&nbsp;&nbsp;/</span>
                        </p>
                        <p>Hora: <span>10:30</span></p>
                    </div>
                    <div class="align-self-center col-md-2">
                        <div class="d-flex flex-column align-items-center botones">
                            <button class="btn btn-danger btn-sm mt-3 p-2" type="button">Cancelar cita</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center row mt-4">
            <div class="col-10 col-md-10 bg-white border rounded">
                <div class="row p-2">
                    <div class="col-md-10 mt-1 bordeTarjeta">
                        <p>Taller: <span>SalouMotor</span></p>
                        <p>Servicios: <span>Cambio de aceite&nbsp;&nbsp;&nbsp;/</span>
                            <span>Cambio de neumáticos&nbsp;&nbsp;&nbsp;/</span>
                            <span>Cambio de aceite&nbsp;&nbsp;&nbsp;/</span>
                        </p>
                        <p>Hora: <span>10:30</span></p>
                    </div>
                    <div class="align-self-center col-md-2">
                        <div class="d-flex flex-column align-items-center botones">
                            <button class="btn btn-danger btn-sm mt-3 p-2" type="button">Cancelar cita</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center row mt-4">
            <div class="col-10 col-md-10 bg-white border rounded">
                <div class="row p-2">
                    <div class="col-md-10 mt-1 bordeTarjeta">
                        <p>Taller: <span>SalouMotor</span></p>
                        <p>Servicios: <span>Cambio de aceite&nbsp;&nbsp;&nbsp;/</span>
                            <span>Cambio de neumáticos&nbsp;&nbsp;&nbsp;/</span>
                            <span>Cambio de aceite&nbsp;&nbsp;&nbsp;/</span>
                        </p>
                        <p>Hora: <span>10:30</span></p>
                    </div>
                    <div class="align-self-center col-md-2">
                        <div class="d-flex flex-column align-items-center botones">
                            <button class="btn btn-danger btn-sm mt-3 p-2" type="button">Cancelar cita</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

    <!-- cita taller -->

    <div class="container mt-10 mb-5">
        <h1>Mis citas</h1>
        <div class="d-flex justify-content-center row mt-4">
            <div class="col-10 col-md-10 col-sm-12">
                <label>Seleccionar día</label>
                <div class="d-flex form-group filtro">
                    <input type="date" class="form-control" id="fechaCita">
                    <app-modal-citas-taller></app-modal-citas-taller>
                    <button class="btn btn-sm btnEdit2 p-2" data-toggle="modal" data-target="#anyadirCita">Añadir Cita</button>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center row mt-4">
            <div class="col-10 col-md-10 col-sm-12">
                <div class="row p-2 bg-white border rounded">
                    <div class="col-md-10 mt-1 bordeTarjeta">
                        <p>Cliente: <span>Manuel Gomez</span></p>
                        <p>Servicios: <span>Cambio de aceite&nbsp;&nbsp;&nbsp;/</span>
                            <span>Cambio de neumáticos&nbsp;&nbsp;&nbsp;/</span>
                            <span>Cambio de aceite&nbsp;&nbsp;&nbsp;/</span>
                        </p>
                        <p>Hora: <span>10:30</span></p>
                    </div>
                    <div class="align-self-center col-md-2">
                        <div class="d-flex flex-column align-items-center botones">
                            <button class="btn btnEdit btn-sm p-2" data-toggle="modal" data-target="#anyadirCita">Modificar cita</button>
                            <button class="btn btn-danger btn-sm mt-3 p-2" type="button">Cancelar cita</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center row mt-4">
            <div class="col-10 col-md-10 col-sm-12">
                <div class="row p-2 bg-white border rounded">
                    <div class="col-md-10 mt-1 bordeTarjeta">
                        <p>Cliente: <span>Manuel Gomez</span></p>
                        <p>Servicios: <span>Cambio de aceite&nbsp;&nbsp;&nbsp;/</span>
                            <span>Cambio de neumáticos&nbsp;&nbsp;&nbsp;/</span>
                            <span>Cambio de aceite&nbsp;&nbsp;&nbsp;/</span>
                        </p>
                        <p>Hora: <span>10:30</span></p>
                    </div>
                    <div class="align-self-center col-md-2">
                        <div class="d-flex flex-column align-items-center botones">
                            <button class="btn btnEdit btn-sm p-2" data-toggle="modal" data-target="#anyadirCita">Modificar cita</button>
                            <button class="btn btn-danger btn-sm mt-3 p-2" type="button">Cancelar cita</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center row mt-4">
            <div class="col-10 col-md-10 col-sm-12">
                <div class="row p-2 bg-white border rounded">
                    <div class="col-md-10 mt-1 bordeTarjeta">
                        <p>Cliente: <span>Manuel Gomez</span></p>
                        <p>Servicios: <span>Cambio de aceite&nbsp;&nbsp;&nbsp;/</span>
                            <span>Cambio de neumáticos&nbsp;&nbsp;&nbsp;/</span>
                            <span>Cambio de aceite&nbsp;&nbsp;&nbsp;/</span>
                        </p>
                        <p>Hora: <span>10:30</span></p>
                    </div>
                    <div class="align-self-center col-md-2">
                        <div class="d-flex flex-column align-items-center botones">
                            <button class="btn btnEdit btn-sm p-2" data-toggle="modal" data-target="#anyadirCita">Modificar cita</button>
                            <button class="btn btn-danger btn-sm mt-3 p-2" type="button">Cancelar cita</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center row mt-4">
            <div class="col-10 col-md-10 col-sm-12">
                <div class="row p-2 bg-white border rounded">
                    <div class="col-md-10 mt-1 bordeTarjeta">
                        <p>Cliente: <span>Manuel Gomez</span></p>
                        <p>Servicios: <span>Cambio de aceite&nbsp;&nbsp;&nbsp;/</span>
                            <span>Cambio de neumáticos&nbsp;&nbsp;&nbsp;/</span>
                            <span>Cambio de aceite&nbsp;&nbsp;&nbsp;/</span>
                        </p>
                        <p>Hora: <span>10:30</span></p>
                    </div>
                    <div class="align-self-center col-md-2">
                        <div class="d-flex flex-column align-items-center botones">
                            <button class="btn btnEdit btn-sm p-2" data-toggle="modal" data-target="#anyadirCita">Modificar cita</button>
                            <button class="btn btn-danger btn-sm mt-3 p-2" type="button">Cancelar cita</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>