.fondo{
    background-image: url("src/assets/img/fotoFondos/calendariofondo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    justify-content: center;
    height:100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    overflow: auto;
}

h1{
    text-align: center;
    color: #F1F1F2;
}

.container{
    padding-top: 140px;
    padding-bottom: 80px;
    /* border: 1px solid; */
}

p{
    font-weight: 600;
    font-size: 18px;
}

span{
    padding-left:15px;
    font-weight: 300;
}

label{
    color: #F1F1F2;
    font-weight: 600;
    font-size: 20px;
    text-align:start;
    margin-left: -15px;
}

.filtro input{
    width: 218px;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-left: -15px;
}

.filtro button{
    margin-right: -15px
}

.filtro{
    display: flex;
    justify-content: space-between;
}

.btnEdit{
    color:white;
    background-color: #0466C8;
}

.btnEdit2{
    color:white;
    background-color: #0466C8;
    font-weight: 400;
    font-size: 20px;
}



.bordeTarjeta{
    border-right-color: #e4e1e1;
    border-right-style:solid;
    border-right-width: 1px;
    /* border: solid 1px; */
    /* vertical-align: middle; */
}




@media screen and (max-width: 767px){
    .col-md-10{
        border-right-style: none;
    }

    .container{
        padding-top: 140px;
        padding-bottom: 100px;
    }

}

@media screen and (max-width: 460px){
    .btnEdit2{
        font-size: 15px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 427px){
    .btnEdit2{
        font-size: 14px;
        margin-left: 10px;
    }
}

/* .bloque{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid;
} */

/* .card{
    width: 100%;
} */


/* .container{
    margin-top: 150px;
    background: none;
    align-items: center;
    border-radius: 5px;
    padding-top:10px;
    margin-top: 10px;
    width: 700px;
    border: 1px solid
} */
/* 
.col-sm-3{
    padding-top: 10px;
}

.vertical{
    border: red 2px;
} */

/* p{
    font-weight: 600;
}

.info1{
    margin-top: 20px;
    width: 80%;
    font-weight: 500;
    border: solid 1px;
}

.info2{
    width: 20%;
    border: solid 1px;
}

h2{
    color: #F1F1F2;
    font-weight: bold;
    padding: 20px;
}
 */
